In [3]:
import pandas as pd

In [4]:
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [5]:
pd.set_option('display.max_rows', None)

In [6]:
df = pd.read_csv('payscale-all-majors-colleges.csv')

In [7]:
df = df.reset_index()

In [8]:
pysqldf("SELECT * FROM df ORDER BY late DESC LIMIT 100")

,index,index_0,index_1,school,early,late,major
0,2800,2800,0,Harvard University,91300,183000,math
1,550,550,0,Stanford University,107400,174800,computer-science
2,551,551,1,Harvey Mudd College,100500,172800,computer-science
3,1150,1150,0,Colgate University,68600,167900,social-sciences
4,552,552,2,Carnegie Mellon University,99000,167200,computer-science
5,553,553,3,University of California-Berkeley,105700,166500,computer-science
6,554,554,4,Princeton University,101300,162500,computer-science
7,555,555,5,Dartmouth College,101800,162500,computer-science
8,556,556,6,Massachusetts Institute of Technology,99800,162200,computer-science
9,557,557,7,Harvard University,96100,161900,computer-science
10,558,558,8,Yale University,104200,161600,computer-science
11,559,559,9,Columbia University in the City of New York,93500,161200,computer-science
12,560,560,10,Duke University,89000,161000,computer-science
13,2925,2925,0,Harvard University,67100,160100,business
14,561,561,11,Brown University,98900,159900,computer-science
15,1151,1151,1,Williams College,72200,159900,social-sciences
16,1152,1152,2,Yale University,73200,159300,social-sciences
17,562,562,12,University of Pennsylvania,98900,158200,computer-science
18,1153,1153,3,Princeton University,70300,157000,social-sciences
19,2400,2400,0,Stanford University,87500,156100,engineering
20,1154,1154,4,United States Naval Academy,82800,155700,social-sciences
21,2926,2926,1,Lehigh University,71200,155700,business
22,563,563,13,University of Washington-Seattle Campus,84300,155400,computer-science
23,564,564,14,United States Naval Academy,81000,154600,computer-science
24,2927,2927,2,Massachusetts Institute of Technology,86200,154400,business
25,2401,2401,1,United States Naval Academy,86000,154100,engineering
26,565,565,15,Cornell University,92400,153700,computer-science
27,2402,2402,2,Marietta College,97400,153300,engineering
28,2801,2801,1,Carnegie Mellon University,92400,153300,math
29,2928,2928,3,University of California-Berkeley,82700,153200,business
30,1155,1155,5,University of Pennsylvania,71200,152500,social-sciences
31,2403,2403,3,Harvey Mudd College,85700,152100,engineering
32,2404,2404,4,Massachusetts Institute of Technology,88900,151900,engineering
33,2405,2405,5,University of California-San Diego,75800,151800,engineering
34,566,566,16,Rice University,90800,151300,computer-science
35,1156,1156,6,Cornell University,67700,150800,social-sciences
36,567,567,17,University of Virginia-Main Campus,84700,150500,computer-science
37,568,568,18,University of California-Santa Barbara,84700,150500,computer-science
38,1157,1157,7,Harvard University,75700,150000,social-sciences
39,1158,1158,8,Massachusetts Institute of Technology,79000,149800,social-sciences
40,2802,2802,2,Massachusetts Institute of Technology,89900,149600,math
41,569,569,19,University of California-Los Angeles,88800,149400,computer-science
42,570,570,20,Worcester Polytechnic Institute,86300,149300,computer-science
43,1159,1159,9,Duke University,68400,149000,social-sciences
44,2803,2803,3,University of Pennsylvania,82300,149000,math
45,2929,2929,4,United States Military Academy,79000,149000,business
46,571,571,21,CUNY Hunter College,75400,148800,computer-science
47,572,572,22,Johns Hopkins University,88800,148800,computer-science
48,2406,2406,6,Duke University,85300,148800,engineering
49,2407,2407,7,Harvard University,82000,148600,engineering
50,2804,2804,4,Johns Hopkins University,81400,148600,math
51,573,573,23,University of California-Santa Cruz,85600,148300,computer-science
52,2408,2408,8,Columbia University in the City of New York,78900,148300,engineering
53,2930,2930,5,Georgetown University,76200,148300,business
54,574,574,24,Lehigh University,85200,148200,computer-science
55,2805,2805,5,Northwestern University,79900,148200,math
56,2409,2409,9,University of Tulsa,82800,148100,engineering
57,575,575,0,University of California-San Diego,88400,147900,computer-science
58,2410,2410,10,Dartmouth College,80900,147900,engineering
59,576,576,1,California Polytechnic State University-San Lu...,83300,147600,computer-science
60,577,577,2,Santa Clara University,86700,147500,computer-science
61,578,578,3,University of Notre Dame,82700,147000,computer-science
62,2931,2931,6,University of Notre Dame,70900,147000,business
63,579,579,4,Brandeis University,80600,146900,computer-science
64,5425,5425,0,Harvard University,99800,146900,health-science
65,2806,2806,6,University of California-San Diego,72800,146800,math
66,580,580,5,Case Western Reserve University,75600,146700,computer-science
67,581,581,6,University of California-Irvine,79100,146500,computer-science
68,2411,2411,11,Santa Clara University,79700,146200,engineering
69,1160,1160,10,Stanford University,73700,145800,social-sciences
70,4900,4900,0,Harvey Mudd College,78200,145400,physical-and-life-sciences
71,2932,2932,7,Santa Clara University,72700,144400,business
72,582,582,7,United States Military Academy,79100,144300,computer-science
73,2807,2807,7,University of California-Berkeley,80900,144000,math
74,583,583,8,Virginia Polytechnic Institute and State Unive...,82100,143600,computer-science
75,2412,2412,12,United States Military Academy,83300,143600,engineering
76,2933,2933,8,University of Pennsylvania,82000,143600,business
77,1161,1161,11,Amherst College,67500,143000,social-sciences
78,2413,2413,13,University of California-Irvine,71300,142900,engineering
79,584,584,9,Stony Brook University,76100,142500,computer-science
80,585,585,10,Boston College,78400,142500,computer-science
81,2414,2414,14,Colorado School of Mines,75900,142500,engineering
82,2415,2415,15,California Institute of Technology,84700,142500,engineering
83,586,586,11,Tufts University,88000,141900,computer-science
84,2416,2416,16,Northwestern University,78000,141700,engineering
85,2934,2934,9,Babson College,70900,141700,business
86,587,587,12,San Jose State University,83100,141500,computer-science
87,588,588,13,University of Illinois at Urbana-Champaign,83800,141400,computer-science
88,2417,2417,17,Lamar University,78200,141400,engineering
89,2935,2935,10,Rensselaer Polytechnic Institute,64900,141400,business
90,589,589,14,Stevens Institute of Technology,85500,141300,computer-science
91,590,590,15,Georgia Institute of Technology-Main Campus,82800,141100,computer-science
92,591,591,16,Rensselaer Polytechnic Institute,84500,140900,computer-science
93,4450,4450,0,University of California-Berkeley,61000,140900,communication
94,1162,1162,12,Santa Clara University,63700,140800,social-sciences
95,2418,2418,18,University of California-Berkeley,81000,140800,engineering
96,2936,2936,11,United States Air Force Academy,78600,140800,business
97,4901,4901,1,Princeton University,71200,140700,physical-and-life-sciences
98,2419,2419,19,University of California-Los Angeles,79700,140600,engineering
99,592,592,17,New York University,81100,140500,computer-science

In [9]:
pysqldf("SELECT * FROM df ORDER BY early DESC LIMIT 100")

,index,index_0,index_1,school,early,late,major
0,550,550,0,Stanford University,107400,174800,computer-science
1,553,553,3,University of California-Berkeley,105700,166500,computer-science
2,558,558,8,Yale University,104200,161600,computer-science
3,555,555,5,Dartmouth College,101800,162500,computer-science
4,554,554,4,Princeton University,101300,162500,computer-science
5,551,551,1,Harvey Mudd College,100500,172800,computer-science
6,556,556,6,Massachusetts Institute of Technology,99800,162200,computer-science
7,5425,5425,0,Harvard University,99800,146900,health-science
8,552,552,2,Carnegie Mellon University,99000,167200,computer-science
9,561,561,11,Brown University,98900,159900,computer-science
10,562,562,12,University of Pennsylvania,98900,158200,computer-science
11,2402,2402,2,Marietta College,97400,153300,engineering
12,557,557,7,Harvard University,96100,161900,computer-science
13,559,559,9,Columbia University in the City of New York,93500,161200,computer-science
14,565,565,15,Cornell University,92400,153700,computer-science
15,2801,2801,1,Carnegie Mellon University,92400,153300,math
16,2800,2800,0,Harvard University,91300,183000,math
17,594,594,19,University of California-Davis,91100,140200,computer-science
18,566,566,16,Rice University,90800,151300,computer-science
19,2802,2802,2,Massachusetts Institute of Technology,89900,149600,math
20,560,560,10,Duke University,89000,161000,computer-science
21,2404,2404,4,Massachusetts Institute of Technology,88900,151900,engineering
22,569,569,19,University of California-Los Angeles,88800,149400,computer-science
23,572,572,22,Johns Hopkins University,88800,148800,computer-science
24,575,575,0,University of California-San Diego,88400,147900,computer-science
25,604,604,4,University of Southern California,88400,138000,computer-science
26,586,586,11,Tufts University,88000,141900,computer-science
27,596,596,21,Seattle University,88000,139200,computer-science
28,2400,2400,0,Stanford University,87500,156100,engineering
29,5426,5426,1,Albany College of Pharmacy and Health Sciences,87200,133700,health-science
30,577,577,2,Santa Clara University,86700,147500,computer-science
31,570,570,20,Worcester Polytechnic Institute,86300,149300,computer-science
32,2927,2927,2,Massachusetts Institute of Technology,86200,154400,business
33,2401,2401,1,United States Naval Academy,86000,154100,engineering
34,2810,2810,10,Tufts University,85900,139300,math
35,653,653,3,Washington University in St Louis,85800,129600,computer-science
36,2403,2403,3,Harvey Mudd College,85700,152100,engineering
37,573,573,23,University of California-Santa Cruz,85600,148300,computer-science
38,589,589,14,Stevens Institute of Technology,85500,141300,computer-science
39,2406,2406,6,Duke University,85300,148800,engineering
40,574,574,24,Lehigh University,85200,148200,computer-science
41,5432,5432,7,Touro College,84800,111600,health-science
42,567,567,17,University of Virginia-Main Campus,84700,150500,computer-science
43,568,568,18,University of California-Santa Barbara,84700,150500,computer-science
44,2415,2415,15,California Institute of Technology,84700,142500,engineering
45,591,591,16,Rensselaer Polytechnic Institute,84500,140900,computer-science
46,563,563,13,University of Washington-Seattle Campus,84300,155400,computer-science
47,588,588,13,University of Illinois at Urbana-Champaign,83800,141400,computer-science
48,576,576,1,California Polytechnic State University-San Lu...,83300,147600,computer-science
49,2412,2412,12,United States Military Academy,83300,143600,engineering
50,587,587,12,San Jose State University,83100,141500,computer-science
51,2808,2808,8,Dartmouth College,83000,140500,math
52,590,590,15,Georgia Institute of Technology-Main Campus,82800,141100,computer-science
53,1154,1154,4,United States Naval Academy,82800,155700,social-sciences
54,2409,2409,9,University of Tulsa,82800,148100,engineering
55,578,578,3,University of Notre Dame,82700,147000,computer-science
56,2928,2928,3,University of California-Berkeley,82700,153200,business
57,645,645,20,Rose-Hulman Institute of Technology,82400,130400,computer-science
58,2803,2803,3,University of Pennsylvania,82300,149000,math
59,583,583,8,Virginia Polytechnic Institute and State Unive...,82100,143600,computer-science
60,2407,2407,7,Harvard University,82000,148600,engineering
61,2933,2933,8,University of Pennsylvania,82000,143600,business
62,2432,2432,7,Webb Institute,81600,138000,engineering
63,598,598,23,University of Massachusetts-Amherst,81500,138800,computer-science
64,2804,2804,4,Johns Hopkins University,81400,148600,math
65,593,593,18,Trinity College,81200,140300,computer-science
66,592,592,17,New York University,81100,140500,computer-science
67,626,626,1,University of Michigan-Ann Arbor,81100,133500,computer-science
68,631,631,6,The University of Texas at Austin,81100,132200,computer-science
69,564,564,14,United States Naval Academy,81000,154600,computer-science
70,2418,2418,18,University of California-Berkeley,81000,140800,engineering
71,2420,2420,20,Princeton University,81000,140300,engineering
72,2410,2410,10,Dartmouth College,80900,147900,engineering
73,2807,2807,7,University of California-Berkeley,80900,144000,math
74,605,605,5,College of William and Mary,80700,137600,computer-science
75,579,579,4,Brandeis University,80600,146900,computer-science
76,597,597,22,Boston University,80300,139100,computer-science
77,611,611,11,University of Maryland-College Park,80300,136000,computer-science
78,2434,2434,9,University of California-Santa Cruz,80100,137900,engineering
79,2498,2498,23,Massachusetts Maritime Academy,80000,125600,engineering
80,601,601,1,Northwestern University,79900,138500,computer-science
81,2805,2805,5,Northwestern University,79900,148200,math
82,2411,2411,11,Santa Clara University,79700,146200,engineering
83,2419,2419,19,University of California-Los Angeles,79700,140600,engineering
84,2421,2421,21,University of Pennsylvania,79600,140100,engineering
85,2445,2445,20,McNeese State University,79600,134800,engineering
86,2811,2811,11,United States Naval Academy,79600,139000,math
87,581,581,6,University of California-Irvine,79100,146500,computer-science
88,582,582,7,United States Military Academy,79100,144300,computer-science
89,1158,1158,8,Massachusetts Institute of Technology,79000,149800,social-sciences
90,2929,2929,4,United States Military Academy,79000,149000,business
91,694,694,19,University of San Francisco,78900,124800,computer-science
92,2408,2408,8,Columbia University in the City of New York,78900,148300,engineering
93,2422,2422,22,Rice University,78900,139900,engineering
94,624,624,24,Western Washington University,78600,133900,computer-science
95,2936,2936,11,United States Air Force Academy,78600,140800,business
96,692,692,17,Northeastern University,78500,124800,computer-science
97,585,585,10,Boston College,78400,142500,computer-science
98,606,606,6,George Washington University,78400,137500,computer-science
99,2424,2424,24,California State University Maritime Academy,78300,139100,engineering

In [10]:
df.groupby("major").describe()['late']

,count,mean,std,min,25%,50%,75%,max
major,,,,,,,,
art,400.0,79012.750000,10107.202942,63900.0,71700.0,76850.0,85350.0,123700.0
business,1200.0,93582.666667,15378.316230,66300.0,82000.0,91000.0,102025.0,160100.0
communication,450.0,90334.666667,11406.525230,72100.0,81650.0,88300.0,96975.0,140900.0
computer-science,600.0,116630.666667,14900.967226,88100.0,105700.0,114400.0,124425.0,174800.0
education,325.0,64168.923077,4400.559772,56600.0,60800.0,63600.0,67000.0,81500.0
engineering,400.0,117388.000000,13081.958956,93600.0,108500.0,116250.0,125375.0,156100.0
health-science,675.0,82722.518519,9594.748325,61400.0,76650.0,81900.0,87950.0,146900.0
humanities,550.0,87956.909091,12424.295250,69800.0,79000.0,85400.0,94575.0,132000.0
math,125.0,118627.200000,14842.725904,91400.0,108500.0,116900.0,126900.0,183000.0
physical-and-life-sciences,525.0,97081.904762,11125.687053,80000.0,89100.0,94900.0,102700.0,145400.0
social-sciences,850.0,87022.470588,18339.165604,61000.0,74100.0,82450.0,96300.0,167900.0

In [11]:
df.groupby("major").describe()['early']

,count,mean,std,min,25%,50%,75%,max
major,,,,,,,,
art,400.0,45080.500000,5246.287122,34100.0,41200.0,44350.0,47925.0,73600.0
business,1200.0,50880.583333,7037.867170,35400.0,45900.0,49900.0,54425.0,86200.0
communication,450.0,46225.555556,5021.063897,34600.0,42600.0,45400.0,49100.0,69000.0
computer-science,600.0,64560.833333,9888.448733,43500.0,57900.0,62500.0,68725.0,107400.0
education,325.0,40818.769231,2995.014122,35200.0,38600.0,40400.0,42800.0,53400.0
engineering,400.0,66505.750000,7174.665952,48500.0,62200.0,66600.0,70100.0,97400.0
health-science,675.0,54102.666667,7407.524365,38900.0,49200.0,53100.0,58200.0,99800.0
humanities,550.0,46640.727273,5990.631379,35500.0,42400.0,45500.0,49600.0,74600.0
math,125.0,64484.000000,8867.877878,48100.0,58600.0,63400.0,68500.0,92400.0
physical-and-life-sciences,525.0,50427.238095,5999.153963,40000.0,46300.0,49300.0,53100.0,78200.0
social-sciences,850.0,46916.823529,7746.052562,31200.0,41500.0,45200.0,50975.0,82800.0

In [12]:
# the average ranking

In [20]:
pysqldf("""
WITH dsrank AS 
(
SELECT
    school, major, late, ROW_NUMBER() OVER (ORDER BY late DESC) AS ranking
FROM
    df
)

SELECT 
    major, AVG(ranking)
FROM
    dsrank
GROUP BY 
    major
""")

                         major  AVG(ranking)
0                          art   4457.817500
1                     business   2890.242500
2                communication   3149.980000
3             computer-science    974.611667
4                    education   5841.064615
5                  engineering    896.452500
6               health-science   4028.456296
7                   humanities   3448.774545
8                         math    871.200000
9   physical-and-life-sciences   2388.076190
10             social-sciences   3669.144706

In [26]:
pysqldf("""
WITH dsrank AS 
(
SELECT
    school, major, late, ROW_NUMBER() OVER (ORDER BY late DESC) AS ranking
FROM
    df
LIMIT 20
)

SELECT 
    major, AVG(ranking)
FROM
    dsrank
GROUP BY 
    major
""")

              major  AVG(ranking)
0          business     14.000000
1  computer-science      9.153846
2       engineering     20.000000
3              math      1.000000
4   social-sciences     14.000000

In [38]:
# list the top 10 of each major, in order of late career salary
pysqldf("""
SELECT * FROM
(
SELECT
    school, major, late, ROW_NUMBER() OVER (PARTITION BY major ORDER BY late DESC) AS ranking
FROM
    df
)
WHERE 
    ranking <= 10
ORDER BY 
    late DESC
""")

,school,major,late,ranking
0,Harvard University,math,183000,1
1,Stanford University,computer-science,174800,1
2,Harvey Mudd College,computer-science,172800,2
3,Colgate University,social-sciences,167900,1
4,Carnegie Mellon University,computer-science,167200,3
5,University of California-Berkeley,computer-science,166500,4
6,Princeton University,computer-science,162500,5
7,Dartmouth College,computer-science,162500,6
8,Massachusetts Institute of Technology,computer-science,162200,7
9,Harvard University,computer-science,161900,8
10,Yale University,computer-science,161600,9
11,Columbia University in the City of New York,computer-science,161200,10
12,Harvard University,business,160100,1
13,Williams College,social-sciences,159900,2
14,Yale University,social-sciences,159300,3
15,Princeton University,social-sciences,157000,4
16,Stanford University,engineering,156100,1
17,Lehigh University,business,155700,2
18,United States Naval Academy,social-sciences,155700,5
19,Massachusetts Institute of Technology,business,154400,3
20,United States Naval Academy,engineering,154100,2
21,Marietta College,engineering,153300,3
22,Carnegie Mellon University,math,153300,2
23,University of California-Berkeley,business,153200,4
24,University of Pennsylvania,social-sciences,152500,6
25,Harvey Mudd College,engineering,152100,4
26,Massachusetts Institute of Technology,engineering,151900,5
27,University of California-San Diego,engineering,151800,6
28,Cornell University,social-sciences,150800,7
29,Harvard University,social-sciences,150000,8
30,Massachusetts Institute of Technology,social-sciences,149800,9
31,Massachusetts Institute of Technology,math,149600,3
32,United States Military Academy,business,149000,5
33,University of Pennsylvania,math,149000,4
34,Duke University,social-sciences,149000,10
35,Duke University,engineering,148800,7
36,Harvard University,engineering,148600,8
37,Johns Hopkins University,math,148600,5
38,Georgetown University,business,148300,6
39,Columbia University in the City of New York,engineering,148300,9
40,Northwestern University,math,148200,6
41,University of Tulsa,engineering,148100,10
42,University of Notre Dame,business,147000,7
43,Harvard University,health-science,146900,1
44,University of California-San Diego,math,146800,7
45,Harvey Mudd College,physical-and-life-sciences,145400,1
46,Santa Clara University,business,144400,8
47,University of California-Berkeley,math,144000,8
48,University of Pennsylvania,business,143600,9
49,Babson College,business,141700,10
50,University of California-Berkeley,communication,140900,1
51,Princeton University,physical-and-life-sciences,140700,2
52,Dartmouth College,math,140500,9
53,Yale University,physical-and-life-sciences,139900,3
54,University of California-Los Angeles,math,139700,10
55,United States Military Academy,physical-and-life-sciences,139500,4
56,Stanford University,communication,139100,2
57,Massachusetts Institute of Technology,physical-and-life-sciences,137900,5
58,Harvard University,physical-and-life-sciences,135200,6
59,California Institute of Technology,physical-and-life-sciences,133900,7
60,Albany College of Pharmacy and Health Sciences,health-science,133700,2
61,United States Naval Academy,physical-and-life-sciences,132900,8
62,United States Air Force Academy,humanities,132000,1
63,Santa Clara University,communication,131800,3
64,Dartmouth College,physical-and-life-sciences,131000,9
65,United States Air Force Academy,physical-and-life-sciences,131000,10
66,Dartmouth College,humanities,129500,2
67,Harvard University,humanities,129200,3
68,University of Pennsylvania,communication,128600,4
69,Columbia University in the City of New York,humanities,127500,4
70,Yale University,humanities,127500,5
71,Princeton University,humanities,126500,6
72,United States Naval Academy,humanities,126400,7
73,Union College (New York),humanities,125500,8
74,Colgate University,humanities,124800,9
75,Brown University,humanities,124600,10
76,Stanford University,art,123700,1
77,University of California-San Diego,health-science,123000,3
78,University of California-Santa Barbara,communication,122400,5
79,Vanderbilt University,communication,121800,6
80,University of Virginia-Main Campus,communication,121400,7
81,Boston University,communication,120700,8
82,University of the Sciences,health-science,120500,4
83,St John's University-New York,health-science,120400,5
84,George Washington University,communication,119300,9
85,University of California-Los Angeles,communication,119100,10
86,Butler University,health-science,117400,6
87,MCPHS University,health-science,115600,7
88,Colgate University,art,111800,2
89,Touro College,health-science,111600,8
90,Dartmouth College,art,110000,3
91,University of California-Berkeley,health-science,110000,9
92,Columbia University in the City of New York,health-science,109200,10
93,The New School,art,107000,4
94,Rhode Island School of Design,art,104900,5
95,Brown University,art,104600,6
96,Georgia Institute of Technology-Main Campus,art,103900,7
97,University of Notre Dame,art,103800,8
98,Cornell University,art,103700,9
99,Yale University,art,102600,10
100,Virginia Polytechnic Institute and State Unive...,education,81500,1
101,Boston University,education,80600,2
102,Providence College,education,79300,3
103,San Francisco State University,education,78900,4
104,Wayland Baptist University,education,75600,5
105,James Madison University,education,74900,6
106,San Jose State University,education,74500,7
107,Southern Illinois University-Carbondale,education,74300,8
108,University of Illinois at Urbana-Champaign,education,73900,9
109,San Diego State University,education,73600,10